*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-card {
    width: 500px;
    display: none;
}

.img {
    width: 100%;
}

.active {
    display: block;
}